/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require_self
 *= require_tree .
 */

#page-container {
	width: 650px;
	margin: 0 auto;
}

nav {
	height: 100px;
	margin: 0;
	padding: 20px 0;
	position: relative;
}

nav ul {
	position: relative;
	margin: 0;
	padding: 0;
}

nav li {
	list-style-type: none;
	position: relative;
	float: left;
	vertical-align: middle;
	margin: 0;
	padding: 0 10px 0 0;
}

nav a {
	text-decoration: none;
	font-size: 20px;
	color: #888;
	font-weight: 100;
}

nav a:hover {
	text-decoration: none;
	font-size: 20px;
	color: #333;
	font-weight: 100;
}

.right {
	position: relative;
	float: right;
	padding-top: 6px;
	right: 0;
}

.left {
	position: relative;
	float: left;
	padding: 0;
}

.logo {
	padding: 0 5px 0 0 !important;
	margin-top: -5px;
}

.thin, .thin a, .thin a:hover {
	font-weight: 100 !important;
	font-size: 20pt !important;
	text-decoration: none !important;
	color: #000 !important;
}

.fat, .fat a, .fat a:hover {
	font-weight: 700 !important;
	font-size: 20pt !important;
	text-decoration: none !important;
	color: #000 !important;
}

.form-container {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	position: relative;
	clear: both;
}

input {
	border-radius: .2rem;
	border: 1px #ccc solid;
	text-align: center;
	line-height: 2;
	width: 60%;
}

label, input {
	position: relative;
	float: left;
	clear: both;
	margin: 5px 0;
}
