/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require_self
 *= require_tree .
 */

#page-container {
	width: 650px;
	margin: 0 auto;
}

nav {
	height: 100px;
	margin: 0;
	padding: 20px 0;
	position: relative;
}

nav ul {
	position: relative;
	margin: 0;
	padding: 0;
}

nav li {
	list-style-type: none;
	position: relative;
	float: left;
	vertical-align: middle;
	margin: 0;
	padding: 0 10px;
}

nav a {
	text-decoration: none;
	font-size: 20px;
	color: #333;
}

.right {
	position: relative;
	float: right;
	padding-top: 7px;
	right: 0;
}

.logo {
	padding: 0 5px 0 0 !important;
}

.thin {
	font-weight: 100;
	font-size: 20pt;
}

.fat {
	font-weight: 700;
	font-size: 20pt;
}